
*body {
    margin: 0;
}

.product-overview {
    background: url(../assets/pics/midnight-wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 528px;
    padding: 10px;

}

.product-overview > h1 {
    color: white;
    font-family: 'Dank Mono';
    background: #070606;
    padding: 5px 10px;
    width: 15%;
    margin-left: 565px;
    border-radius: 20px;
    text-align: center;
}